<h1>Users#register</h1>
<p>Find me in app/views/users/register.html.erb</p>

<% provide(:title, "Register") %>

<h1>Register As A New Customer</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: register_path) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.text_field :name, placeholder: "Name", class: 'form-control' %>

      <%= f.email_field :email, placeholder: "E-mail Address", class: 'form-control' %>

      <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>

      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %>

      <%= f.submit "Create Account", class: "btn btn-primary" %>
      
      <li><%= link_to "Login As Existing User", '/login' %></li>
    <% end %>
  </div>
</div>