<h1>Products Catalogue</h1>
<br>
<table class="catalogue">
  
  <% @items.each do |item| %>
      <tr>
        <td>
          <div class="image">
            <%= link_to (image_tag item.image_url, :style => "height:100px"), item %>
          </div>
          <div class="title">
            <%= link_to item.title, item %>
          </div>
          <div class="description">
            <%= item.description %>
          </div>  
          <div class="price">
             <%= number_to_currency(item.price, :unit => "€") %>
          </div>
          <div class="links">
            <% if @admin_user = true && @items.empty? %>
              <%= link_to 'Add New Item', new_item_path %>
            <% elsif @admin_user = true %>
              <%= link_to 'Edit Item', edit_item_path(item) %>
              <%= link_to 'Destroy Item', item, method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to 'Add New Item', new_item_path %>
            <% end %>
              <a href="/cart/<%= item.id %>">Add to Cart</a>
        </div>
        </td>
      </tr>
    <% end %>
</table>
