<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image url</th>
      <th>Category</th>
      <th>Horse</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.image_url %></td>
        <td><%= item.category %></td>
        <td><%= item.horse %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>

<html>
  <head>
    <title>Pixel Perfect</title>

    <!-- Normalize HTML5 Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">

    <!-- styles.css Link -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Responsive Shizz -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
  </head>

  <body>
    <div class="banner">
      <div class="wrapper">
        <h1>Pixel Perfect<br>Design Resources</h1>
      </div>
    </div>
    
    <div class="nav">
      <div class="wrapper">
        <a href="#">Popular</a>
        <a href="#">Recent</a>
        <label for="search">Search</label>
        <input type="search" id="search" placeholder="Picture Arkle Guinness">
      </div>
    </div>
    
    <ul class="resources">
      <li>
        <%= link_to image_tag("1.jpg"),
          '/' %>
          <%= link_to image_tag("2.jpg"),
          '/' %>
       
      </li>
    </ul>
    

  </body>
</html>